@model RPGWorldTracker.ViewModels.CampaignDetailsViewModel

@{
	ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Campaign.Name)</h1>
<h3>@Html.DisplayFor(model => model.Campaign.Description)</h3>

<div>
	<hr />
	<div class="row">
		<div class="container">
			<div class="row">
				<div class="col-6 scroll-table module-border bg-secondary">
					<p>
						Kingdoms
					</p>
					@foreach (var item in Model.Kingdoms)
					{
						<table class="table table-hover table-sm ">
							<tr>
								<td><a class="" asp-controller="Kingdoms" asp-action="Details" asp-route-id="@item.KingdomId">@Html.DisplayFor(modelItem => item.Name)</a></td>
							</tr>
						</table>
					}
				</div>
				<div class="col-6 scroll-table">
					@foreach (var item in Model.Towns)
					{
						<table class="table table-hover table-sm">
							<tr>
								<td><a class="" asp-controller="Towns" asp-action="Details" asp-route-id="@item.TownId">@Html.DisplayFor(modelItem => item.Name)</a></td>
							</tr>
						</table>
					}
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-4 scroll-table">
					@foreach (var item in Model.Stores)
					{
						<table class="table table-hover table-sm ">
							<tr>
								<td><a class="" asp-controller="Kingdoms" asp-action="Details" asp-route-id="@item.StoreId">@Html.DisplayFor(modelItem => item.Name)</a></td>
							</tr>
						</table>
					}
				</div>

				<div class="col-4 scroll-table">
					@foreach (var item in Model.Homes)
					{
						<table class="table table-hover table-sm">
							<tr>
								<td><a class="" asp-controller="Towns" asp-action="Details" asp-route-id="@item.HomeId">@Html.DisplayFor(modelItem => item.Name)</a></td>
							</tr>
						</table>
					}
				</div>
				<div class="col-4 scroll-table">
					@foreach (var item in Model.Characters)
					{
						<table class="table table-hover table-sm">
							<tr>
								<td><a class="" asp-controller="Towns" asp-action="Details" asp-route-id="@item.CharacterId">@Html.DisplayFor(modelItem => item.Name)</a></td>
							</tr>
						</table>
					}
				</div>
			</div>
		</div>
	</div>

</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Campaign.CampaignId">Edit Campagin</a>
	<a asp-action="Index">Back to List</a>
</div>
